{% extends "layout.html" %}
{% block content %}
{{ container() }}
<h3> Calendar </h3>
    	<div id='calendar' style="width:100%;">
    	{% for day in calendar %}
    	<div class="row">
  			<div class="span12"><strong>{{ day.date }}</strong></div>
		</div>
            {% if day.recipes|length > 0 %}
            	{% for recipe in day.recipes %}
  						<a href={{'/recipe/'~ (recipe.id)}} data-transition="slide"><pre style={{"background-image:url('"+recipe.image+"');background-repeat:no-repeat;background-size:100%;"}}>{{ recipe.title }}</pre></a>
            	{% endfor %}
            {% else %}
                 <div class="row">
  						No recipes here yet. Add a recipe!
				</div>
			{% endif %}
      	{% endfor %}
    	</div>
{{ enddiv() }}
{% endblock %}