{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% if current_user.is_authenticated %}
    {% include 'sidebar.html' %}
{% endif %}

{% block scripts %}
{{ super() }}
<script>
  $(function() {
    $('a#addRecipe').bind('click', function() {
      var $clicked = $(this);

      $.getJSON($SCRIPT_ROOT + '/_add_recipe', {
        meal: $clicked.parent().find($('input[name="meal"]')).val(),
        title: $clicked.parent().find($('input[id="recipeName"]')).val(),
        id: $clicked.parent().find($('input[id="recipeID"]')).val(),
        image: $clicked.parent().find($('input[id="recipeImage"]')).val(),
        date: $clicked.parent().find($('input[name="date"]')).val()
      }, function(data) {
        console.log(data.status)
        $("#addButton").text(data.status);
      });
      //return false;
    });
  });
</script>

<script>
  $(function(){

    $('.button-collapse').sideNav();

  }); // end of document ready

</script>
{% endblock %}