<!doctype html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <title>Food for Thought</title>


            <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css', _external=True) }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css', _external=True) }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mobile-1.4.5.min.css', _external=True) }}">
            <link rel="stylesheet" href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css" />       

            <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js', _external=True) }}"></script>
            <script src="{{ url_for('static', filename='js/jquery-ui.min.js', _external=True) }}"></script>

            <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js', _external=True) }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.mobile-1.4.5.min.js', _external=True) }}"></script>
            <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
            <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js', _external=True) }}"></script> 
            <script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>

            <!--FullCalendar-->
            <script type='text/javascript' src="{{ url_for('static', filename='js/fullcalendar.min.js', _external=True) }}"></script>
            <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/fullcalendar.css', _external=True) }}" />     
    </head>
    <body>

<!-- gets the flash messages from flask to show up -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<div data-role="page" id="menu-page">
  <div data-role="header">
        <h1>Food For Thought</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a> 
    </div><!-- /header -->

    <div class="ui-content">
  {% block body %}
  {% endblock %}
    </div>
  {% if current_user.is_authenticated %}
    {% include 'sidebar.html' %}
  {% endif %}
</div>





     
    </body>
</html>