{% extends "layout.html" %}
{% block body %}

<!-- static navbar at the top --> 
<div data-role="header">
  <h1>Questionnaire</h1>
</div>

    <div class = "ui-content">
        <br> 
        {% from "_formhelpers.html" import render_field %}
        
        <form method=post action="/questions">
            <dl> <!-- description list renders items from class RegistrationForm -->
                {{render_field(form.restrictions)}} 
                {{render_field(form.allergies)}}
                {{render_field(form.zipcode)}}
                {{render_field(form.time)}}
                {{render_field(form.meal)}}
            </dl>
            <p><input type=submit value=Submit></p> <!-- submission -->
        </form>
        
        {% if error %} <!-- if error variable is not empty -->
            <p class="error"><strong>Error:</strong>{{error}}</p> <!-- print out error -->
        {% endif %}

    </div>
{% endblock %}

