{% extends "layout.html" %}
{% block body %}


<ul class="nav nav-tabs nav-justified" id="tabs">
  <li class="active"><a data-toggle="tab" data-target="#summary">Summary</a></li>
  <li><a data-toggle="tab" data-target="#ingredients">Ingredients</a></li>
  <li><a data-toggle="tab" data-target="#steps">Steps</a></li>
</ul>
<div class="tab-content">
    <div id="summary" class="tab-pane fade in active">
      <br>
      <div class="recipe-photo"><img src="{{recipe["photo"]["urls"][3]["url"]|string}}"></div>
      <br>
       <p>{{recipe.description}}</p>
    </div>

    <div id="ingredients" class="tab-pane fade">
    <br>
      <h4> Ingredients: </h4>
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient.displayValue}}</li>
          {% endfor %}
        </ul>
    </div>

    <div id="steps" class="tab-pane fade">
      <br>
        <ol>
          {% for step in recipe.directions %}
            <li>{{step.displayValue}}</li>
          {% endfor %}
        </ol>
    </div>
</div>

 
{% endblock %}