<!doctype html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Food for Thought</title>
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </head>
    <body>

<!-- static navbar at the top --> 
<div data-role="header">
  <h1>Create an account</h1>
</div>

	<div class = "ui-content">
		<br> 
		{% from "_formhelpers.html" import render_field %}
		
		<form method=post action="/register">
			<dl> <!-- description list renders items from class RegistrationForm -->
				{{render_field(form.username)}} 
				{{render_field(form.email)}}
				{{render_field(form.password)}}
				{{render_field(form.confirm)}}
				{{render_field(form.accept_tos)}}
			</dl>
			<p><input type=submit value=Register></p> <!-- submission -->
		</form>
		
		{% if error %} <!-- if error variable is not empty -->
			<p class="error"><strong>Error:</strong>{{error}}</p> <!-- print out error -->
		{% endif %}

	</div>
    </body>
</html>