{% extends "layout.html" %}
{% block body %}

<!-- header/nav bar with hamburger menu -->
<div data-role="page" id="menu-page" data-url="menu-page">
    <div data-role="header">
        <h1>Search</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a> 
    </div><!-- /header -->

    <div class="ui-content">

      <form class="searchbox" method="POST" action="/search">
        <div data-role="field" style="float:left">
          <input type="text" name="text" class="searchbox-input" placeholder="Search Recipes"> 
        </div>  
        <div data-role="field" style="float:left">
          <input type="submit" class="searchbox-submit" value="Search">
        </div>
      </form>

    </div><!-- /content -->

      {% if results %}
              <div>
                  {% for result in results %}
                    <div><img src="{{result["photo"]["urls"][0]["url"]|string}}" style="width:75px;height:75px"></div>
                    <a href={{'/recipe/'~ (result._id)}}>{{result["title"]}} </h3>
                    <div>{{"Avg score: " +result["ratingAverage"]|string}}</div>
                    <div><a href="{{result["links"]["self"]["href"]|string}}">Get URL</a></div>
                    <br></br> 
                  {% endfor %}
              </div>
      {% endif %}

          <p id="input"></p>

    

    <!-- hamburger menu contents -->
    <div data-role="panel" id="left-panel" class="noIcon">
      <img src="static/apple.png" id="logo">
        <ul data-role="listview">
                <li><a href="#panel-responsive-page2">Home</a></li>
                <li><a href="#panel-responsive-page2">Calendar</a></li>
                <li><a href="#panel-responsive-page2">Coupons</a></li>
                <li><a href="#panel-responsive-page2">Swipe</a></li>
                <li><a href="#panel-responsive-page2">Shopping List</a></li>
                <li><a href="#panel-responsive-page2">Preferences</a></li>
                <li><a href="#panel-responsive-page2">Help</a></li>
        </ul>
    </div><!-- /panel -->
</div>

<script src="/static/scripts.js"></script>

{% endblock %}
