{% extends "layout.html" %}
{% block body %}

<!-- header/nav bar with hamburger menu -->

<script>
  $(function() {
    $('a#addRecipe').bind('click', function() {
      var $clicked = $(this);

      $.getJSON($SCRIPT_ROOT + '/_add_recipe', {
        meal: $clicked.parent().find($('input[name="meal"]')).val(),
        title: $clicked.parent().find($('input[id="recipeName"]')).val(),
        id: $clicked.parent().find($('input[id="recipeID"]')).val(),
        image: $clicked.parent().find($('input[id="recipeImage"]')).val(),
        date: $clicked.parent().find($('input[name="date"]')).val()
      }, function(data) {
        console.log(data.status)
        $("#addButton").text(data.status);
      });
      //return false;
    });
  });
</script>

      <form class="searchbox" method="POST" action={{"/search"}}>
        <input type="search" name="search" id="search-basic" value="" />
      </form>
      <div>
        {% if current_user.is_authenticated and not (current_user.is_anonymous()) %}
          Hi {{ current_user.username }} Search for food you'd like to cook!
        {% endif %}
      </div>

      {% if results %}
              <div id="results" role="content" class="ui-content">
                  {% for result in results %}
                         <a href={{'/recipe/'~ (result._id)}} data-transition="slide">
                            <div class = "container">
                               <div class = "resultsImage">
                                  <img src="{{result["photo"]["urls"][1]["url"]|string}}">
                               </div>

                               <div class = "resultsText">
                                  <h3><strong>{{result["title"]}}</strong></h3>
                                  <p>{{"Avg score: " +result["ratingAverage"]|string}}</p>
                               </div>
                               
                             <div class="plusSign">
                                  <a href={{"#add"+result._id|string}} data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-plus">
                                    <img src="{{ url_for('static', filename='img/calendar.png', _external=True) }}" width="20"/>
                                  </a>
                                  <!-- <img class="plusImg" src="static/plusIcon.png"> -->

                                  <div data-role="popup" id={{"add"+result._id|string}} class="ui-content" style="min-width:250px;">
                                      <!-- <div> -->
                                        <h3>Add recipe</h3>
                                        <input type="hidden" id="recipeName" value='{{result.title}}' />
                                        <input type="hidden" id="recipeID" value={{result._id}} />
                                        <input type="hidden" id="recipeImage" value={{result["photo"]["urls"][-1]["url"]|string}} />
                                         <select name="meal" id="meal">
                                            <option value="breakfast">Breakfast</option>
                                            <option value="lunch">Lunch</option>
                                            <option value="dinner">Dinner</option>
                                         </select>
                                        <input name="date" type="date" id="date">
                                        <a href="#" id="addRecipe" data-rel="back" class="ui-btn ui-shadow ui-btn-a" > Add Recipe </a>
                                  </div> <!--popup-->

                                </div> <!--plusSign-->
                            </div> <!--container--> 
                          </a>

                  {% endfor %}
            </div> <!--results-->  
      {% endif %}

{% endblock %}
