{% extends "layout.html" %}
{% block content %}
{{ container() }}

<!-- header/nav bar with hamburger menu -->
<form class="searchbox" method="POST" action={{"/search"}}>
  <input type="search" name="search" id="search-basic" value="" />
</form>
<div>
  {% if current_user.is_authenticated and not (current_user.is_anonymous()) %}
  Hi {{ current_user.username }} Here are some suggested recpies for you!
  <br>
  Click on a recipe  to get more details.
  <br>
  Click "Cook Me" to add a recipe to you weekly plan.
  {% endif %}
</div>

{% if results %}
<div id="results">
  {% for recipe in results %}
  {% set id = recipe._id|string %}

  <div class="card small dismissable">
   <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{recipe["photo"]["urls"][-1]["url"]|string}}">
    </div>
  <div class="card-content">
    <span class="activator grey-text text-darken-4">{{recipe["title"]}}<i class="material-icons right">more_vert</i></span>
    <p>Calories: {{recipe.nutrition.calories.displayValue}} {{recipe.nutrition.calories.unit}} </p>
    <p>Cooking Time: {{recipe.cookMinutes}} Prep Time: {{recipe.prepMinutes}} ready in Time: {{recipe.readyInMinutes}}</p>
  </div>
  <div class="card-action">

  <a class="white-text waves-effect waves-light btn" href="#" id="addRecipe">Cook This!</a>
  </div>

  <div class="card-reveal">
    <a class="waves-effect waves-light btn" href="#" id="addRecipe">Cook This!</a>
    <p class="card-title grey-text text-darken-4">{{recipe["title"]}}<i class="material-icons right">close</i></p>
    <div class="row">
        <ul class="tabs">
          <li class="tab col s4"><a href={{"#summary"+id}}>Summary</a></li>
          <li class="tab col s4"><a href={{"#ingredients"+id}}>Ingredients</a></li>
          <li class="tab col s4"><a href={{"#steps"+id}}>Steps</a></li>
        </ul>
    </div>

    <div>
      <div id={{"summary"+id}}>
        <br>
        <div class="recipe-photo"><img src="{{recipe["photo"]["urls"][3]["url"]|string}}"></div>
        <br>
        <p>{{recipe.description}}</p>
      </div>

      <div id={{"ingredients"+id}}>
        <br>
        <h4> Ingredients: </h4>
        <ul>
          {% for ingredient in recipe.ingredients %}
          <li>{{ingredient.displayValue}}</li>
          {% endfor %}
        </ul>
      </div>

      <div id={{"steps"+id}}>
        <br>
        <ol>
          {% for step in recipe.directions %}
          <li>{{step.displayValue}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div> <!--results-->  
{% endif %}
{{ enddiv() }}
{% endblock %}