
  <ul id="slide-out" class="side-nav">
                <li><a href="{{url_for('search')}}">Home</a></li>
                <li><a href="{{url_for('calendar')}}">Calendar</a></li>
                <li><a href="{{url_for('coupons')}}">Coupons</a></li>
                <li><a href="{{url_for('swipe')}}">Swipe</a></li>
                <li><a href="{{url_for('list')}}">Shopping List</a></li>
                <li><a href="{{url_for('preferences')}}">Preferences</a></li>
                <li><a href="{{url_for('help')}}">Help</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse btn-large show-on-large"><i class="material-icons">menu</i></a>
<!--   btn-floating for circle -->