<div data-role="panel" id="left-panel" class="noIcon">
      <img src="static/img/pot.png" id="logo">
        <ul data-role="listview">
                <li><a href="{{url_for('search')}}">Home</a></li>
                <li><a href="{{url_for('calendar')}}">Calendar</a></li>
                <li><a href="{{url_for('coupons')}}">Coupons</a></li>
                <li><a href="{{url_for('swipe')}}">Swipe</a></li>
                <li><a href="{{url_for('list')}}">Shopping List</a></li>
                <li><a href="{{url_for('preferences')}}">Preferences</a></li>
                <li><a href="{{url_for('help')}}">Help</a></li>
        </ul>
</div><!-- /panel -->